<div class="lobby">
	<div *ngFor="let player of players" class="player-container"
		[ngStyle]="{'background-color': player.status > 0 ? player.color : 'none'}">
		{{player.nick}}
	</div>
</div>
<div *ngIf="gameStarted; else controls">
	<app-dice></app-dice>
	<app-board></app-board>
</div>
<ng-template #controls>
	<div *ngIf="winner; else ready_button">
		<h1>{{winner}} won!</h1>
	</div>
	<ng-template #ready_button>
		<button (click)="toggleReady()">{{ready? "Not ready!" : "Ready!"}}</button>
	</ng-template>
</ng-template>