.dice-container {
    padding: 10px;
    border: 1px solid black;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dice {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    text-align: center;
    margin-bottom: 20px;
}